.edit_pizza__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-bottom: 100px;
}

.ingredients__scrollable {
  max-height: 300px;
  overflow-y: scroll;
}

.ingredient {
  font-size: 18px;
  margin-left: 10px;
}

.ingredient__checkbox {
  transform: scale(1.5);
  margin-top: 4px;
  margin-left: 4px;
}

.size_changer__container {
  display: flex;
}

.size_changer__item {
  background: lightgray;
  opacity: 0.3;
  padding: 2px 10px 0 10px;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  font-family: TTCommons-Bold;
  transition: 0.2s;
}

.size_changer__item:hover {
  opacity: 1;
}

.size_changer__item_active {
  opacity: 1;
}

.pizza__divider {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-left: auto;
  padding-right: auto;
}

.M {
  transform: scale(1);
}

.S {
  transform: scale(0.8);
}

.L {
  transform: scale(1.2);
}

.vertical__line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  width: 8px;
  height: 100%;
  background: #000;
}

.horizontal__line {
  transform: rotate(90deg);
}

.diagonal__line {
  transform: rotate(45deg);
}

.diagonal__line_6 {
  transform: rotate(60deg);
}

@media (max-width: 576px) {
  .M {
    transform: scale(0.8);
  }

  .S {
    transform: scale(0.6);
  }

  .L {
    transform: scale(1);
  }
}
