.pizza__cart {
  width: 100%;
  background: #141414;
  padding: 12px 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.pizza__name {
  font-size: 32px;
}

.counter {
  align-items: center;
}

.counter__symbol {
  font-size: 36px;
  cursor: pointer;
  margin-top: 4px;
}

.counter__number {
  font-size: 24px;
  margin-top: 4px;
}

.delivery__input {
  width: 300px;
}

.pizza_order__card {
  margin-top: 32px;
}

.pizza_order__card {
  margin-top: 16px;
}

.pizza_order_entity__card {
  width: 100%;
  background: #141414;
  padding: 12px 20px;
  border-radius: 4px;
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}

.pizza__size {
  background: lightgray;
  color: #000;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px 0 4px;
  border-radius: 4px;
  font-family: TTCommons-Bold;
}

@media (max-width: 576px) {
  .pizza__cart {
    margin-top: 52px !important;
    justify-content: center;
  }

  .pizza_order_entity__card {
    justify-content: center;
  }

  .pizza__controls {
    position: absolute;
    right: 0;
    top: -52px;
  }

  .pizza_cart__container {
    display: block !important;
    text-align: center;
  }

  .delivery__input {
    width: 100%;
  }
}
