.navbar {
  width: 100%;
  background: transparent;
  height: 55px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.navbar .mainContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.container__blue {
  height: 100vh;
  width: 100vw;
  background: #112550;
  color: #fff;
  position: absolute;
}

.balance {
  font-size: 18px;
}

/* .logo {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
} */

.main__content {
  height: 100%;
}

.cover__screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.user__container {
  display: flex;
}

.orders__number {
  position: absolute;
  right: -8px;
  top: -8px;
  height: 20px;
  width: 20px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #000;
}

@media (min-width: 1440px) {
  .mainContainer {
    padding-left: 210px;
    padding-right: 210px;
  }

  .main__content {
    padding: 60px 70px;
  }
}

@media (min-width: 990px) {
  .navbar {
    padding: 30px 70px;
  }
}

@media (min-width: 768px) {
  .main__content,
  .navbar {
    padding: 30px 70px;
  }
}

@media (max-width: 768px) {
  .main__content {
    padding: 60px 40px;
  }

  .navbar {
    padding: 20px 40px;
  }
}
